*{
	box-sizing:border-box;
}
html{
	margin:0;
	padding:0;
	height:100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
	background-color:rgba(0, 9, 25, 0.8);
	padding:1em;
	text-align:right;
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
}
.navbar input{
	width: 20em;
	border-radius: 0.5em;
	outline-width:0;
	padding:0.5em;
	margin:0.5em;
}
.navbar a{
	color:white;
	margin:0.5em;
	text-decoration:none;
	border: 0.05em solid white;
	border-radius:0.2em;
	padding:0.5em;
}
.navbar a:hover{
	color:rgb(0, 9, 25);
	background-color:white;
}

.my-gallery-class{
	margin:0 auto;
	text-align:center;
}
.masonry-item{
	margin:1em;
	width:15em;
}
.masonry-item img{
	width:15em;
	border-radius:5px;
}

.IdeaPreviewImage{
	width: 20em;
	height:auto;
}
