*{
	box-sizing:border-box;
}
html{
	margin:0;
	padding:0;
	height:100%;
}
body {
  margin: 0;
  padding: 0;
	height:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-image:url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=852b3c7ae03f7b8d785e5c2255420875&auto=format&fit=crop&w=1350&q=80");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo img{
	width:60px;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:2;
	transition-duration:0.2s;
}
.logo img:hover{
	transition-duration:0.2s;
	transform:scale(1.1);
	cursor:pointer;

}
.plusIcon{
	float:right;
	color:white;
	font-size:2em;
	margin:0.5em;
	transition-duration:0.2s;
}
.plusIcon:hover{
	color:rgba(255,255,255,0.9);
	transform:scale(1.2);
	transition-duration:0.2s;
}
.navbar {
	background-color:rgba(0, 9, 25, 0.8);
	padding:1em;
	text-align:right;
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	user-select:none;
}
.navbar input{
	width: 20em;
	height:1.4em;
	border-radius: 0.5em;
	outline-width:0;
	padding:0.7em;
	margin:0 0.5em;
}
.navbar a{
	color:white;
	display:inline-block;
	height:2.3em;
	margin:0 0.5em;
	text-decoration:none;
	/* border: 0.05em solid white; */
	border-radius:0.2em;
	 padding:0.5em;
}
.navbar a:hover{
	color:rgb(0, 9, 25);
	background-color:white;
}
.loginComponent{
	background-color:rgba(255,255,255,0.5);
	width:40%;
	min-width:18em;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.registerComponent{
	background-color:rgba(255,255,255,0.5);
	width:40%;
	min-width:18em;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.scrollContainer{
	height: 100vh;
}
.scroll{
	overflow-y:scroll;
	border: 0.1em solid white;
	height:70%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

.ideaform{
	overflow:auto;
	height:100vh;
	width:30em;
	background-color:rgba(255,255,255,0.5);
}
.IdeaContainer{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	user-select:none;
}
.IdeaPreviewImage{
	width: auto;
	height:10em;
	margin:1em;
	border-radius:0.5em;
	transition-duration: 0.2s;
	user-select:none;

}
.IdeaPreviewImage:hover{
	transform: scale(1.2);
	transition-duration: 0.2s;
	cursor: pointer;
}
